<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Asteroid_Project_ManagerCEO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="ConnectionStringAPM"
          connectionString="Data Source=25.3.143.231;Initial Catalog=APM_DATABASE;Persist Security Info=True;User ID=admin;Password=aylinalp1234"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Asteroid_Project_ManagerCEO.Properties.Settings>
            <setting name="AdminUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value />
            </setting>
        </Asteroid_Project_ManagerCEO.Properties.Settings>
    </userSettings>
</configuration>