<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Asteroid_Project_ManagerAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings>
        <add name="Asteroid_Project_ManagerAPP.Properties.Settings.APM_DATABASEConnectionString"
            connectionString="Data Source=DESKTOP-G9JCH3G;Initial Catalog=APM_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asteroid_Project_ManagerAPP.Properties.Settings.APM_DATABASEConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=APM_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
    <userSettings>
        <Asteroid_Project_ManagerAPP.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Asteroid_Project_ManagerAPP.Properties.Settings>
    </userSettings>
</configuration>